.navbar {
  height: 2rem;
  width: 100%;
  position: fixed;
  font-size: larger;
  font-weight: bolder;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #cb8989;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: end;
  top: 0;
  right: 0;
  padding: 0;
  height: inherit;
}

.link {
  display: inline;
  list-style: none;
  margin: 2rem;
}

a {
  color: white;
  text-decoration: none;
}
