.navbar {
  height: 2rem;
  width: 100%;
  position: fixed;
  font-size: larger;
  font-weight: bolder;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(195, 123, 137);
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.link {
  display: inline;
  list-style: none;
  margin: 2rem;
}

.text {
  color: white;
  text-decoration: none;
}
